@model Domain.Entities.Characteristic

    <div class="well">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage", "Characteristic",
                new { Model.CharacteristicId })" />
            </div>
        }

        <h3>
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
        </h3>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.CharacteristicId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            </div>
        }
        <br />
        <span class="lead"><strong>Кол-во игроков:</strong> @Model.CountOfPlayers</span><br />
        <span class="lead"><strong>Рекомендуемый возраст:</strong> @Model.RecommendAge</span><br />
        <span class="lead"><strong>Время партии:</strong> @Model.TimeOfGame.ToString("# мин")</span><br />
        <span class="lead"><strong>Описание:</strong> @Model.Description</span><br />
    </div>